@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 24px;
}
.header__logo {
  margin-left: 96px;
}
.header__navigation {
  display: flex;
  justify-content: center;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 64px;
  margin-right: 96px;
}
.header__list-item a {
  color: #000000;
}
.header__list__line span {
  position: absolute;
  top: 10px;
  width: 17px;
  border: 1px solid #707070;
  transform: rotate(90deg);
  background-color: #000000;
}
.header__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 39px;
  margin-right: 96px;
}
.header__icons-item {
  width: 19px;
  height: 19px;
}

.hoops__background {
  background-image: url("../../images/background.png.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1248px;
  height: 646px;
}
.hoops__mainpart {
  padding-top: 226px;
  padding-left: 39px;
}
.hoops__title {
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
  color: #ffffff;
  margin-bottom: 16px;
}
.hoops__price {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 48px;
}
.hoops__button {
  width: 193px;
  height: 53px;
  border-radius: 6px;
  background: transparent;
  border: 2px solid #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}

.shop__top--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 36px;
  margin-right: 138px;
}
.shop__title {
  margin-top: 64px;
  margin-left: 96px;
  margin-bottom: 39px;
  font-weight: 500;
  font-size: 33px;
}
.shop__viewtext {
  color: #A18A68;
  font-weight: 500;
  font-size: 20px;
}
.shop__container {
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
  margin-left: 70px;
}
.shop__container--item {
  margin-bottom: 86px;
  width: calc((100% - 114px) / 3);
}
.shop__text {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  margin: 24px 0 16px 0;
}
.shop__price {
  color: #A18A68;
  font-weight: 500;
  font-size: 20px;
}

.footer {
  margin: 0 auto;
  width: 1248px;
  height: 148px;
  margin-bottom: 90px;
  margin-top: 150px;
}
.footer__line {
  height: 1px;
  width: 100%;
  background-color: #D8D8D8;
  margin-bottom: 52px;
}
.footer__firstcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.footer__list {
  font-weight: 400;
  font-size: 16px;
  color: #707070;
  display: flex;
  justify-content: center;
  gap: 41px;
}
.footer__input {
  position: relative;
  width: 400px;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: none;
}
.footer__input:focus {
  outline: none;
}
.footer__input::after {
  content: url(../../images/strelka.svg);
  position: absolute;
}
.footer__secondcontainer {
  display: flex;
  justify-content: space-between;
}
.footer__text span {
  color: #707070;
}
.footer__icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */