.footer {
    margin: 0 auto;
    width: 1248px;
    height: 148px;
    margin-bottom: 90px;
    margin-top: 150px;

    &__line {
        height: 1px;
        width: 100%;
        background-color: $gray;
        margin-bottom: 52px;
    }

    &__firstcontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;
    }

    &__list {
        font-weight: 400;
        font-size: 16px;
        color: $dark-gray;
        display: flex;
        justify-content: center;
        gap: 41px;
    }

    &__input {
        position: relative;
        width: 400px;
        height: 40px;
        border: none;
        border-bottom: 1px solid black;
        border-radius: none;

        &:focus {
            outline: none;
        }

        &::after {
            content: url(../../images/strelka.svg);
            position: absolute;
        }
    }

    &__secondcontainer {
        display: flex;
        justify-content: space-between;
    }

    &__text span{
        color: $dark-gray;
    }

    &__icons{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
}